.jumbotron {
    height: min-content;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    background-color: rgb(63, 63, 63);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#search-button {
    background-color: #0069D9;
    color: whitesmoke;
}

#footer {
    margin-bottom: 0px;
}

#currentWeather {
    padding-top: 3px;
    border-radius: 1px;
    border: black;
}

.card-body {
    margin: 2;
}

.weeklyForecast {
    border: grey;
    margin-top: 3px;
}

.left-div {
    height: 100%;
}

.card-body {
    background-color: #2196F3;
    color: white;
    border-radius: 4px;
    margin: 2px;
}

.previouslySearched {
    background-color: #272b2f;
    color: white;
    border: none;
    font-size: smaller;
    border-radius: 4px;
    padding: 16px;
}